body {
    background-color: #1fb946;
    color: #045725;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Arial;
  }
  main {
    background-color: #ffffff;
    border-color: #aec3e3;
    overflow: auto;
    display: block;
  }
  section {
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0;
    background-color: #eaeaea;
  }
  section h3 {
    padding: 0.25em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 110%;
    background-color: #519f6a;
  }
  section p {
    padding-top: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 2em
  }
  nav {
    text-align: center;
  }
  nav a {
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom: 1px;
  }
  nav a:link {
    color: #00660a;
  }
  nav a:visited {
    color: #52c569;
  }
  nav a:hover {
    color: #32a35f;
  }
  nav ul {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
  }
  * {
    box-sizing: border-box;
  }
  header {
    background-color: #006618;
    background-image: url(lake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 1em;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
  }
  header a:link {
    color: #ffffff;
    text-decoration: none;
  }
  header a:visited {
    color: #e3e3e3;
  }
  header a:hover {
    color: #aec1e3;
  }
  h1 {
    font-size: 2em;
    padding: 2em;
    text-align: center;
    text-decoration: none;
  }
  
  h2 {
    font-size: 1.2em;
    text-align: center;
  }
  dt {
    color: #5280c5;
    size: 1.1em;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .category {
    font-weight: bold;
    color: #5380c5;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  footer {
    font-size: small;
    font-style: italic;
    text-align: center;
    padding: 1em;
    background-color: #aec3e3;
  }
  
  .address {
    clear: left;
  }
  .floatright {
  }
  #wrapper {
    background-color: #f0f0f0;
    padding-left: 2em;
    padding-right: 2em;
  }
  .footer-nav {
    background-color: #f0f0f0;
    font-size: 110%;
    padding-bottom: 0.5em;
  }
  #mobile {
    display: inline;
  }
  #desktop {
    display: none;
  }
  