.row {
  display: flex;
  background-color: #c5c6c7;
  color: #1f2833;
}
.imgrow {
  background-color: #c5c6c7;
  color: #1f2833;
}
.column {
  flex: 33.33%;
  padding: 5px;
}

body {
  background-color: #0b0c10;
  color: #66fcf1;
  font-family: Verdana, Arial, sans-serif;
}

nav {
  text-align: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  border-bottom: 1px solid #aec3e3;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  width: 100%;
}
nav a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #66fcf1;
}
.contentform {
  background-color: #1f2833;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  align-items: center;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
#navimg {
    background-image: url(droneifylogo.png);
    display: flex;
    margin: auto;
    width: 200px;
}
#indeximg {
    display: flex;
    margin: auto;
    width: 300px
}